$primary: #3db54a;
$primary-light: #d7f9cf;
$secondary: #000;
$tertiary: #fff;
$quaternary: #7e7e7e;
$quaternary-light: #b6b6b6;
$danger: #f21010;
$danger-light: #ff9999;
$font: "Roboto";
$radius: 10px;
$boxShadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
