:root {
  --bs-body-font-family: "roboto", serif;
}

body *:not(::after), body *:not(::before) {
  font-family: var(--bs-body-font-family) !important;
}

.button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button:hover, .button:active, .button:focus, .button:focus-visible, .button:focus-within {
  color: #fff;
  background: #1a1a1a;
  border-color: #1a1a1a;
}
.button:disabled:disabled, .button:disabled.disabled, .button.disabled:disabled, .button.disabled.disabled {
  color: #fff;
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  pointer-events: none;
}
.button.button-primary {
  color: #fff;
  background: #3db54a;
  border-color: #3db54a;
}
.button.button-primary:hover, .button.button-primary:active, .button.button-primary:focus, .button.button-primary:focus-visible, .button.button-primary:focus-within {
  color: #fff;
  background: #37a343;
  border-color: #37a343;
}
.button.button-primary:focus {
  box-shadow: rgb(48, 209, 15);
}
.button.button-primary:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button.button-primary:disabled:disabled, .button.button-primary:disabled.disabled, .button.button-primary.disabled:disabled, .button.button-primary.disabled.disabled {
  color: #fff;
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  pointer-events: none;
}
.button.button-secondary {
  color: #fff;
  background: #000;
  border-color: #000;
}
.button.button-secondary:hover, .button.button-secondary:active, .button.button-secondary:focus, .button.button-secondary:focus-visible, .button.button-secondary:focus-within {
  color: #fff;
  background: #1a1a1a;
  border-color: #1a1a1a;
}
.button.button-secondary:focus {
  box-shadow: rgb(48, 209, 15);
}
.button.button-secondary:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button.button-secondary:disabled:disabled, .button.button-secondary:disabled.disabled, .button.button-secondary.disabled:disabled, .button.button-secondary.disabled.disabled {
  color: #fff;
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  pointer-events: none;
}
.button.button-tertiary {
  color: #3db54a;
  background: #fff;
  border-color: #fff;
}
.button.button-tertiary:hover, .button.button-tertiary:active, .button.button-tertiary:focus, .button.button-tertiary:focus-visible, .button.button-tertiary:focus-within {
  color: #3db54a;
  background: #ecf8ed;
  border-color: #ecf8ed;
}
.button.button-tertiary:focus {
  box-shadow: rgb(48, 209, 15);
}
.button.button-tertiary:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button.button-tertiary:disabled:disabled, .button.button-tertiary:disabled.disabled, .button.button-tertiary.disabled:disabled, .button.button-tertiary.disabled.disabled {
  color: #fff;
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  pointer-events: none;
}

.bg-primary {
  background: #3db54a !important;
}

.bg-primary-light {
  background: #d7f9cf !important;
}

.bg-secondary {
  background: #000 !important;
}

.bg-tertiary {
  background: #fff !important;
}

.bg-quaternary {
  background: #7e7e7e !important;
}

.bg-quaternary-light {
  background: #b6b6b6 !important;
}

.bg-danger {
  background: #f21010 !important;
}

.bg-danger-light {
  background: #ff9999 !important;
}

.text-primary {
  color: #3db54a !important;
}

.text-primary-light {
  color: #d7f9cf !important;
}

.text-secondary {
  color: #000 !important;
}

.text-tertiary {
  color: #fff !important;
}

.text-quaternary {
  color: #7e7e7e !important;
}

.text-quaternary-light {
  color: #b6b6b6 !important;
}

.text-danger {
  color: #f21010 !important;
}

.text-danger-light {
  color: #ff9999 !important;
}

.box-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.radius {
  border-radius: 10px;
}

.form-control.varified {
  background-image: url("assets/imgs/Circle-tick-1.png");
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 20px;
}

.button-disabled:disabled, .button-disabled.disabled {
  color: #fff;
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.radio-button {
  max-width: 1em;
  max-height: 1em;
  min-width: 1em;
  min-height: 1em;
  width: 1em;
  height: 1em;
}
.radio-button:checked {
  background-image: url("assets/imgs/radio-bg.svg") !important;
  border-color: transparent !important;
  background-color: transparent !important;
  background-size: 100% 100%;
}
.radio-button:checked:focus {
  box-shadow: 0 0 0 0.25rem #d7f9cf;
}

header .container .header-left .partner-with-us {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
}
header .container .header-right .nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: #7e7e7e;
}
header .container .header-right .nav .nav-item .nav-link.active {
  color: #3db54a;
  position: relative;
}
header .container .header-right .nav .nav-item .nav-link.active::before, header .container .header-right .nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 2px;
  background: #3db54a;
}
header .container .header-right .nav .nav-item .nav-link.active::after {
  left: 40px;
  box-shadow: 10px 0px 0 0 #3db54a;
  width: 6px;
}

/**
 * Home page
 */
.home-page .hero-section {
  background: url("assets/imgs/hero-bg.png") no-repeat bottom center;
  font-family: "Roboto", serif;
  padding-top: 100px;
  background-size: cover;
}
@media screen and (max-width: 1199px) {
  .home-page .hero-section {
    padding-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .home-page .hero-section {
    padding-top: 25px;
  }
}
.home-page .hero-section .section-title-container {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .home-page .hero-section .section-title-container {
    display: none;
  }
}
.home-page .hero-section .section-title-container h3 {
  font-size: 34px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.25px;
  gap: 12px;
}
.home-page .hero-section .section-title-container h3 img {
  width: 60px;
}
.home-page .hero-section .section-title-container .section-title {
  position: relative;
}
.home-page .hero-section .section-title-container .section-title .bottom-border {
  position: absolute;
  top: 100%;
  width: 82px;
  height: 5px;
  left: 2px;
  border-radius: 5px;
  background: #fff;
}
.home-page .hero-section .section-title-container .section-title .bottom-border::before, .home-page .hero-section .section-title-container .section-title .bottom-border::after {
  content: "";
  position: absolute;
  width: 43px;
  height: 5px;
  border-radius: 5px;
  left: 88px;
  background: #fff;
}
.home-page .hero-section .section-title-container .section-title .bottom-border::after {
  left: 137px;
  width: 19px;
}
.home-page .hero-section .search-form-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 120px;
  gap: 1.8em;
  background: rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 30px 25px;
  margin-bottom: 100px;
}
.home-page .hero-section .search-form-container .form-control {
  outline: none;
  border: none;
}
.home-page .hero-section .search-form-container .search-input {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.home-page .hero-section .search-form-container .city-section .search-city {
  background: url("assets/imgs/search-icon.svg") no-repeat right 10px center #fff;
}
.home-page .hero-section .search-form-container .rental-type-section .search-type {
  background: url("assets/imgs/select-box-drop-down.svg") no-repeat right 10px center #fff;
  color: #7e7e7e;
}
.home-page .hero-section .search-form-container .duration-section .search-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 38.48px;
}
.home-page .hero-section .search-form-container .duration-section .search-input .select-duration {
  border: none;
  width: 60%;
  outline: none;
  box-shadow: none;
}
.home-page .hero-section .search-form-container .duration-section .search-input .controls {
  display: flex;
  align-items: center;
}
.home-page .hero-section .search-form-container .duration-section .search-input .controls img {
  cursor: pointer;
}
.home-page .hero-section .search-form-container .duration-section .search-input .controls .value {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #7e7e7e;
}
.home-page .hero-section .search-form-container .date-time-section .search-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 38.48px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  overflow: hidden;
}
.home-page .hero-section .search-form-container .date-time-section .search-input .choose-date,
.home-page .hero-section .search-form-container .date-time-section .search-input .choose-time {
  border: none;
  width: 100%;
  outline: none;
  box-shadow: none;
  min-width: 100px;
  font-size: 14px;
}
.home-page .hero-section .search-form-container .proceed-section .button:not(.disabled):hover, .home-page .hero-section .search-form-container .proceed-section .button:not(.disabled):active, .home-page .hero-section .search-form-container .proceed-section .button:not(.disabled):focus, .home-page .hero-section .search-form-container .proceed-section .button:not(.disabled):focus-visible, .home-page .hero-section .search-form-container .proceed-section .button:not(.disabled):focus-within {
  color: #fff;
  background: #3db54a;
  border-color: #3db54a;
}
.home-page .hero-section .search-form-container .proceed-section .btn {
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .home-page .hero-section .search-form-container {
    grid-template-columns: repeat(2, 1fr) 120px;
  }
  .home-page .hero-section .search-form-container .duration-section {
    grid-row-start: 2;
    grid-column: 1/2;
  }
  .home-page .hero-section .search-form-container .date-time-section {
    grid-row-start: 2;
    grid-column: 2/3;
  }
  .home-page .hero-section .search-form-container .proceed-section {
    grid-column-start: 3;
    grid-row: 1/3;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (max-width: 767px) {
  .home-page .hero-section .search-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
  }
  .home-page .hero-section .search-form-container .city-section,
  .home-page .hero-section .search-form-container .rental-type-section,
  .home-page .hero-section .search-form-container .duration-section,
  .home-page .hero-section .search-form-container .date-time-section,
  .home-page .hero-section .search-form-container .proceed-section {
    width: 100%;
  }
  .home-page .hero-section .search-form-container .proceed-section {
    text-align: center;
  }
  .home-page .hero-section .search-form-container .proceed-section .btn {
    width: auto;
  }
}
.home-page .hero-section .search-form-container .form-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .home-page .hero-section .search-form-container .form-label {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
  }
}/*# sourceMappingURL=style.css.map */